

.line-through{
    font-family:'Girassol', cursive;
    font-weight: normal;
}

.line-through-register{
    font-family:'Girassol', cursive;
    font-weight: bolder;
    color: #046582;
    font-size: 22px;
    /* width: 30%;   
    text-align: center;   
    border-bottom: 3px solid white;   
    line-height: 0.1em;   
    margin: 10px 0 20px; */
}



.register{
    background-image: url(https://vaksinasi.rskariadi.id/assets/theme/img/backgrounds/1@2x.jpg);
    background-size: cover;
}

.google{
    width: 4rem;
    height: 1.5rem;
    margin-left: 1rem;
    padding-top: 2px;
}

.dashboard-header{
    font-family:'Girassol', cursive;
    font-weight: bolder;
    color: #046582;
    font-size: 36px;
    text-align: center;
    /* width: 24rem; */
}

.dashboard-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    cursor: pointer;
}


.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.details-header{
    font-family:'Girassol', cursive;
    font-weight: bolder;
    color: #046582;
}